.hover-over-show-text > div{
    opacity: 0;
    transition-duration: 0.5s;
}


.hover-over-show-text:hover > div{
    opacity: 1;
    transition-duration: 0.5s;
    background-color: rgba(0, 0, 0, 0.3);
}



